<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register User Page</title>
</head>
<body>

<form name='f' th:action="@{/registerUser}" method='POST'>

    <h1>User Registration</h1>
    <form th:action="@{/registerUser}" method="post" th:object="${user}">
        <label>E-mail:</label>
        <input type="text" th:field="*{username}" /><br/>

        <label>Password:</label>
        <input type="password" th:field="*{password}" /><br/>

        <label>Role:</label>
        <input type="text" th:field="*{role}" /><br/>

        <button type="submit">Register</button>
    </form>

</form>

</body>
</html>