<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successful Registry</title>
</head>
<body>
<h1>New User successfully registered with the following data:</h1><br/>'
<p>Email: <span th:text="${savedUser.email}"></span></p>
<p>Email: <span th:text="${savedUser.password}"></span></p>
<p>Email: <span th:text="${savedUser.role}"></span></p>
<p>Name: <span th:text="${savedUser.name}"></span></p>
<p>Surname: <span th:text="${savedUser.surname}"></span></p>
<p>Age: <span th:text="${savedUser.age}"></span></p>

</body>
</html>