<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find User</title>
</head>
<body>
<h1 th:if="${message}"><b th:text="${message}"></b></h1>
<h1>Find User</h1>
<form id="userForm" method="post" th:object="${email}">
    <label>E-mail:</label>
    <input type="text" th:field="*{email}" required/><br/>
    <button type="button" onclick="submitForm('/remove/user')">Delete User</button>
    <button type="button" onclick="submitForm('/update/user')">Update User</button>
</form>

<script>
    function submitForm(action) {
        const form = document.getElementById('userForm');
        form.action = action;
        form.submit();
    }
</script>
</body>
</html>